.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.main-container > :first-child {
    flex: 1;
}

.main-container > :last-child {
    width: 300px;
    border-left: 1px solid #eaeded;
}